<?xml version="1.0"?>
<!--
/**
* Vaimo Brand
*
* @author Petrov Mykola Olegovich mykola.petrov@vaimo.com
* @package Nikolay_HelloWorld
* @copyright Copyright (c) 2021 Vaimo (http://www.vaimo.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="nikolay_helloworld" frontName="helloworld">
            <module name="Nikolay_HelloWorld"/>
        </route>
    </router>
</config>