<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nikolay_promotion_tab" translate="label" sortOrder="3000">
            <label>Promotion Settings</label>
        </tab>
        <section id="nikolay_promotion_section" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>nikolay_promotion_tab</tab>
            <resource>Nikolay_Brand::settings</resource>
            <group id="promo_mein_settings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Join Configuration</label>
                <field id="promo_enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Nikolay\Promotion\Model\Config\Source\EnableList</source_model>
                </field>
            </group>
        </section>
    </system>
</config>